{% load staticfiles %}

.container-index{
	margin-top:-25px; 
	margin-bottom:0px;
	 
}


.pad1{
background: url("index_1.jpg");
}
.pad2{
background: url("index_1.jpg");
opacity: 0.7;
}
.pad3{
background: url("index_2.jpg");
opacity: 0.7;
}
.pad4{
background: url("index_2.jpg");
}

.col-md-6{
	
	padding: 11.5% ;	
    background-size:cover; 
}


.text{
	margin-top: -150px;
	margin-left: -100px;
	opacity: 1;	

}
.index-text{
	
	text-shadow: 3px 3px 0px #000；
	font-family: sofia;
font-weight:900;
opacity: 1;
}








}

