

.timeline{
	position: relative;
	padding: 0;
  	list-style: none;
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 49%;
    width: 5px;
    margin-left: -1.5px;
    content: '';
    background-color: #424949; 
}

.timeline > li {
    position: relative;
    min-height: 100px;
    margin-bottom: 100px; 
}

.timeline > li:after, .timeline > li:before {
      display: table;
      content: ' '; 
}

.timeline > li:after {
      clear: both; 
}
    
.timeline > li .timeline-panel {
      position: relative;
      float: right;
      width: 100%;
      padding: 0 20px 0 100px;
      text-align: left; 
}
      
.timeline > li .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0; 
}
      
.timeline > li .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0; 
}

.timeline > li .timeline-image {
      position: absolute;
      text-align: center;
      z-index: 50;
      left: 40%;
      width: 200px;
      height: 200px;
      margin:0 auto;
      color: white;
      border: 5px;
}

.timeline > li .timeline-image h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px; 
}
    
.timeline > li.timeline-inverted > .timeline-panel {
	background-color: blue;
	padding-top: 0px;
    padding-left:  700px;
    text-align: left; 
}
      
.timeline > li.timeline-inverted > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0; 
}
      
.timeline > li.timeline-inverted > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0; 
}
    
.timeline > li:last-child {
      margin-bottom: 0; 
}
.timeline .timeline-heading h4 {
	background-color: black;
	padding-left: 20%;
    margin-top: 0;
    margin-right: 100px;
    color: inherit; 
}

.timeline >  .timeline-body {

	padding-left: -50px;
}




.timeline > li.timeline-inverted > .timeline-panel > .timeline-heading h4{
      background-color: #ff4554;
      float: right;
      margin-bottom: 20px;
      margin-left: 0px;
      padding-left: -120px;
      text-align: left ; 
}




.timeline .timeline-heading h4.subheading {
      text-transform: none; }
  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0; }

