<!DOCTYPE html>
<html lang = "en">
<head>
	{% load staticfiles %}
	<title>{% block title%} zhangyan {%endblock%}</title>
	<!-- Required meta tags -->
	<meta charset = "UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia" rel = 'stylesheet' type = 'text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<div class = "container-fluid">
		<a class = "navbar-brand" href = "{% url 'mysite:cover'%}">Mysite</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
		<!--items-->  
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class = "nav navbar-nav">
				<li class = " active ">  <!--The active class is applied to the navigation element the user is currently viewing.-->
					<a class="nav-link" href="{% url 'mysite:index' %}  ">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
                        Home  
                    </a>	
				</li>

				<li class = "  ">
					<a class="nav-link" href="{% url 'mysite:profile' %}">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
                        Profile  
                    </a>	
				</li>

				<li class = " ">
					<a class="nav-link" href="{% url 'mysite:notebook' %}">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
                        Notebook 
                    </a>	
				</li>

				<li class = " ">
					<a class="nav-link" href="{% url 'mysite:project' %}">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
                        Project 
                    </a>
				</li>
			</ul>


            <!--Form-->
          
			<form class="form-inline" style = "padding-left:650px" action="https://www.google.com/search" method="GET" name = "123" >
				<input class="form-control mr-sm-2  " type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> 
      
		</div>
        </div>
    </nav> 



    {%block body%}
    {%endblock%}
	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>