{%extends 'mysite/base.html' %}
{ % block title % } Index { % endblock% }
{% block body %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shrikhand" rel = 'stylesheet' type = 'text/css'>

<div class = "container-fluid container-index" >
	<div class = "row">
		<div class = "backset">
        </div>
        <div class = "col-md-6 "> 

            <div class="text" >
		 		<ul class = "index-text"> My name is Yan Zhang and I come from China.</ul>
		 		<ul class = "index-text">I graduated from Tsinghua university.</ul>
				<ul class = "index-text">I spend 5 years there and got my Ph.D of Physics.</ul> 
			</div>
		</div>				    
		
        
		<div class = "col-md-6 "> 
			<div class="text"> 
				<ul class = "index-text" >As you can tell this is my first website project.</ul>
				<ul class = "index-text">I would like to start a new career on developer && data analyst. </ul>
				<ul class = "index-text">Here will be my skill base. </ul>
			</div>	
		</div>
      
	</div>

</div>



<!--
	<div class="col-md-8 col-lg-6 B">
                <div class="card card-inverse card-primary">
                    <img src="http://lorempicsum.com/rio/800/500/4" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        <div class="col-md-4 col-lg-3 G">
                <div class="row h-100">
                    <div class="col-md-6 col-lg-6 B h-50 pb-3">
                        <div class="card card-inverse card-success h-100">

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 B h-50 pb-3">
                        <div class="card card-inverse bg-success h-100">

                        </div>
                    </div>
                    <div class="col-md-12 h-50">
                        <div class="card card-inverse bg-danger h-100">

                        </div>
                    </div>
                </div>
        </div>

	-->
{% endblock%}