{%extends 'mysite/base.html' %}
{% block title%} Notebook {%endblock%}

{% block body %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'notebook.css' %}">
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
<header>
	<div class = "notebook-head">
		<div class = "container">
			<h1 class = "notebook-title">
				Study Note
			</h1>
			<p>
				My own programming note book
			</p>
		</div>
	</div>
</header>

<div class="row">
    <div class="row-fluid">
    {% for blog in object_list %}
    <div class="col-md-4">
        <h3><a href = '{{ blog.get_absolute_url }}'>{{ blog.note_title }}</a></h3>   
        <p>{{blog.note_body}}</p>           
    </div>
    {% endfor %}
    </div>
</div>


{% endblock %}
