{%extends 'mysite/base.html' %}
{% block title%} Profile {%endblock%}
{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">



<div class= "container"  >
	<div class = "row">
		<div class = "col-md-12 text-center">
			<h2 class="section-heading "> Something about Me</h2>
			<h3 class="section-subheading text-muted"></h3>	
		</div>
	</div>

	<div class = "row">
		<div class = "col-md-12">
			<ul class = "timeline">
				<li > 
					<div class="timeline-image" >
                                    <img class=" img-fluid " src="{% static 'Tsinghua.png'%}" alt="Tsinghua University" >
                              </div>
                              <div class ="timeline-panel" >
                   		   <div class ="timeline-heading" >
                   			<h4>2012-2017</h4>
                   			<h2 class ="subheading">Tsinghua University</h2>
                   		   </div>
                   		   <div class ="timeline-body">
                   			<p> I spent 5 years in the most beautiful univesity in China. I was honored  to have opportunity studing and do research in one of the best university in China. My major is physics. Most of the time, I was dealing with experimenal facilities and analysing data using the powerful scientific software framework developed by CERN.
                   	            </p>
                   		   </div>
                              </div>
				</li>

                        <li class="timeline-inverted"> 
                              <div class="timeline-image" >
                                    <img class=" img-fluid" src="{% static 'nscl.png'%}" alt="Tsinghua University" >
                              </div>
                              <div class ="timeline-panel" >
                                 <div class ="timeline-heading">
                                    <h4>2015-2016</h4>
                                    <h2 class ="subheading">Michigan State University </h2>
                                 </div>
                                 <div class ="timeline-body">
                                    <p> Supporting by CSC(Chinese Scholarship Counile) I visited National Superconducting Cyclotron Laboratory which is the premier radioactive beam facility in the United States. They are the world’s leaders in research areas to probe the density dependence of symmetry energy using heavy ion collisions on which my thesis also focus.                                         
                                    </p>
                                    <p>
                                    During my study in MSU, I focused on three projects and join the other two with limited defined tasks. First, I will undertake the data analysis of the Sn+Sn data at E/A=70 MeV. The experiment is very important for the precision measurement of isospin diffusion. The experimental equipment consists of the MSU Miniball, the LASSA silicon strip detector array, and the S800 spectrometer. 
                                    </p>
                                 </div>
                              </div>
                        </li>

                        <li class="timeline"> 
                              <div class="timeline-image" >
                                    <img class=" img-fluid" src="{% static 'riken.gif'%}" alt="Tsinghua University" >
                              </div>
                              <div class ="timeline-panel" >
                                 <div class ="timeline-heading">
                                    <h4>2015-2016</h4>
                                    <h2 class ="subheading">RIKEN </h2>
                                 </div>
                                 <div class ="timeline-body">
                                    <p> It was so lucky to join the internatinal collaboration to construct the forefront scientific research detector and performed the fisrt experiment in one of the best lab which can produce the most intense beams of primary particles in the world.
                                    </p>  
                                 </div>
                              </div>
                        </li>


				


				


				

			</ul>
		</div>
	</div>

</div>
{% endblock %}